{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Slideshow container -->
    <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 2</div>
            <img src="{{ url_for('static', filename='fullview.jpg') }}" style="width:100%">
            <div class="text">Create Here!!! <br> Celebrate There!!!</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 2</div>
            <img src="{{ url_for('static', filename='slide.jpg') }}" style="width:100%">
            <div class="text">Design your own card</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
    </div>

    <h4>Looking for a virtual birthday card???</h4>
     <p>You have come to the right place!!!</p>
     <p>Here you can customise your <a href="/events">birthday card</a> with your name and message and surprise your friend by sharing the link.</p>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}
          slides[slideIndex-1].style.display = "block";
          setTimeout(showSlides, 1500); // Change image every 1.5 seconds
        }
    </script>
{% endblock %}
